In [1]:
Text = "I am learning NLP"

In [2]:
import pandas as pd
pd.get_dummies(Text.split())

   I  NLP  am  learning
0  1    0   0         0
1  0    0   1         0
2  0    0   0         1
3  0    1   0         0

In [3]:
text = ["i love NLP and i will learn NLP in 2month"]

In [4]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
vectorizer.fit(text)
vector = vectorizer.transform(text)

In [5]:
print(vectorizer.vocabulary_)
print(vector.toarray())

{'love': 4, 'nlp': 5, 'and': 1, 'will': 6, 'learn': 3, 'in': 2, '2month': 0}
[[1 1 1 1 1 2 1]]

In [6]:
print(vector)

  (0, 0)	1
  (0, 1)	1
  (0, 2)	1
  (0, 3)	1
  (0, 4)	1
  (0, 5)	2
  (0, 6)	1

In [7]:
CountVectorizer?

In [10]:
df = pd.DataFrame(data=vector.toarray(), columns=vectorizer.get_feature_names_out() )
df

   2month  and  in  learn  love  nlp  will
0       1    1   1      1     1    2     1

In [11]:
text = "I am learing NLP"

In [12]:
import nltk
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\kalle\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [13]:
!pip install textblob

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: textblob in c:\users\kalle\appdata\roaming\python\python39\site-packages (0.19.0)
Requirement already satisfied: nltk>=3.9 in c:\users\kalle\appdata\roaming\python\python39\site-packages (from textblob) (3.9.1)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (4.64.0)
Requirement already satisfied: regex>=2021.8.3 in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (2022.3.15)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (8.0.4)
Requirement already satisfied: joblib in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (1.1.0)
Requirement already satisfied: colorama in c:\users\kalle\appdata\roaming\python\python39\site-packages (from click->nltk>=3.9->textblob) (0.4.6)

In [14]:
from textblob import TextBlob
TextBlob(text).ngrams(1)

[WordList(['I']), WordList(['am']), WordList(['learing']), WordList(['NLP'])]

In [15]:
TextBlob(text).ngrams(2)

[WordList(['I', 'am']),
 WordList(['am', 'learing']),
 WordList(['learing', 'NLP'])]

In [16]:
TextBlob(text).ngrams(3)

[WordList(['I', 'am', 'learing']), WordList(['am', 'learing', 'NLP'])]

In [17]:
TextBlob(text).ngrams(4)

[WordList(['I', 'am', 'learing', 'NLP'])]

In [18]:
Text = ["The quick browm fox jumped over the lazy dog.", "The dog.", "The fox"]

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
vectorizer.fit(Text)
print(vectorizer.vocabulary_)
print(vectorizer.idf_)

{'the': 7, 'quick': 6, 'browm': 0, 'fox': 2, 'jumped': 3, 'over': 5, 'lazy': 4, 'dog': 1}
[1.69314718 1.28768207 1.28768207 1.69314718 1.69314718 1.69314718
 1.69314718 1.        ]